body{
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
}
.kayitform{
    position: absolute;
    top: 40%;
    left: 40%;
    border-color:red ;
   border: 10px;
   border-radius: 30px;
}
.kayitform ul li{
    color: rgb(31, 83, 38);
    font-size: 30px;
    position: relative;
    list-style-type: none;
    display: block;
    margin: 10px;
}
.sag .button{
    display: inline-block;
    margin-top: 12px;
}
.button input{
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #7fc142;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover{
    background: #7fc142;}